<!DOCTYPE html>
<html>
<head>
	<title>SETTINGS</title>
	<script type="text/css" href="/dist/css/style.min.css"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	
</head>

<body>
<h2>Admin Panel</h2>

<h3>Products</h3>
-Add new Product +</br>
-Remove Cathegory +</br>
-Add Cathegory</br>
</br>

New Product Name: </br>
	<input type="textbox" id="productNameField"></input>
	<select name="decisionCreate" id="cathegoryOption">
		<option value="select"selected>
	</select>
	<button id="addButton" onclick="addProduct()">Add Product</button>
	<button id="removeCateg" onclick="removeCategContent()">Remove Cathegory</button></br>

	<!--
	<select name="decisionDelete" id="cathegoryOptionDel">
		<option selected>Plan 1
		<option>liveKits
		<option>petProducts
		<option>forHumans
		<option>Plan 5
	</select>
	!-->
	</br>
	<input type="textbox" id="NewCathegoryField"></input>
	<button id="addCateg" onclick="addNewCateg()">Add Cathegory</button>
	</br>
	
	</br>
	<form action="demo_form.asp">
  <input type="file" name="pic" accept="image/*">
  <input type="submit">
	</form>
<div class="existing" id="existing">
	<div class="existing-products">
		<ol class="existing-products-list" id="existingProductsList">
			<li>WILL DO SYNCRONISE WHILE REMOVE OF CATEGORY WITH OBJECTS(they dont lose their category property)</li>
		</ol>
	</div>
</div>



<script type="text/javascript" src="/dist/js/main.min.js"></script>
</body>
</html>