<!DOCTYPE html>
<html>
<head>
	<title>SETTINGS</title>
	<script type="text/css" href="/dist/css/style.min.css"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	
</head>

<body>
<h2>Admin Panel</h2>

<h3>Products</h3>
	
New Product Name: </br>
	<input type="textbox" id="newProductName"></input>
	<button id="addButton" onclick="addProduct()">Add</button>	

<div class="existing" id="existing">
	<div class="existing-products">
		<ol class="existing-products-list" id="existingProductsList">
			<li>xxx</li>
		</ol>
	</div>
</div>



<script type="text/javascript" src="/dist/js/main.min.js"></script>
</body>
</html>